{{#big-button-card
    cardTitle="Everything is Awesome"
    buttons=cardButtons
    containerClick=(action "containerClickResponse")
    buttonClick=(action "clickResponse")
    inverse=true
    imgOverlay=true
    cardImage='/img/profiles/emmet.jpg'
    flexGrow=1
}}{{/big-button-card}}
{{#big-button-card
    cardTitle="Somebody's Desk"
    buttons=cardButtons
    containerClick=(action "containerClickResponse")
    buttonClick=(action "clickResponse")
    inverse=false
    imgOverlay=true
    cardImage='/img/intro_desk_bg.png'
}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Panel
            heading
        </div>
        <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>

        <!-- List group -->
        <!--<ul class="list-group">
            <li class="list-group-item">Cras
                justo odio
            </li>
            <li class="list-group-item">Dapibus
                ac facilisis in
            </li>
            <li class="list-group-item">Morbi
                leo risus
            </li>
            <li class="list-group-item">Porta
                ac consectetur ac
            </li>
            <li class="list-group-item">Vestibulum
                at eros
            </li>
        </ul>-->
    </div>
{{/big-button-card}}
