<h2 class="page-header" id="modal-dialog-intro">Modal Dialog</h2>
<p class="lead">Test for echo</p>
<h3 id="modal-basic-example">Basic Example</h3>
<div class="bs-example">
    {{ui-component/ui-modal}}
</div>
