<footer class="bs-docs-footer container-fluid text-center bg-gray text-white" id="siteFooter">
    <ul class="list-inline">
        <li class="text-muted">Currently v3.3.5</li>
        <li>·</li>
        <li>{{#link-to "getting-started"}}Examples{{/link-to}}</li>
    </ul>
    {{yield}}
</footer>
