<div id="primary-brand-color">
    <h3>Primary Brand Colors<br/>
        <small><strong>Note:</strong> Contextual class names exist for text as well as background colors; <em><code>.text-*</code></em>
            will result in a variant of the below colors.
        </small>
    </h3>
    <div class="row flex-row">
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-primary"></div>
                <p class="caption">
                    <strong>#ee6600</strong>
                </p>

                <p class="caption hidden-xs">
                    <small><em>.bg-primary</em></small>
                    <br/>
                    <small><em class="text-primary">.text-primary</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-primary</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-secondary"></div>
                <p class="caption">
                    <strong>#009bd4</strong>
                </p>

                <p class="caption hidden-xs">
                    <small><em>.bg-secondary</em></small>
                    <br/>
                    <small><em class="text-secondary">.text-secondary</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-secondary</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-black"></div>
                <p class="caption">
                    <strong>#000000</strong>
                </p>

                <p class="caption hidden-xs">
                    <small><em>.bg-black</em></small>
                    <br/>
                    <small><em><em class="glyphicon glyphicon-ok-circle"></em> Default</em></small>
                    <br/>
                    <small><span class="text-muted">@black</span></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="bg-variant">
    <h3>Secondary Brand Colors<br/>
        <small>In addition to the <em class="text-gray-darker">.bg-*</em> classes listed with Primary and Grayscale, the
            following background variants are available:
        </small>
    </h3>
    <h4>Solid</h4>

    <div class="row flex-row">
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-brand-info"></div>
                <p class="caption">
                    <strong>#0e8893</strong>
                </p>

                <p class="caption hidden-xs">
                    <small><em>.bg-brand-info</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-info</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-info"></div>
                <p class="caption">
                    <strong>#13bccb</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-info</em></small>
                    <br/>
                    <small><span class="text-muted">@state-info-bg</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-brand-warning"></div>
                <p class="caption">
                    <strong>#f7941d</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-brand-warning</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-warning</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-warning"></div>
                <p class="caption">
                    <strong>#f9b058</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-warning</em></small>
                    <br/>
                    <small><span class="text-muted">@state-warning-bg</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-brand-success"></div>
                <p class="caption">
                    <strong>#9eb541</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-brand-success</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-success</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-success"></div>
                <p class="caption">
                    <strong>#b6c96a</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-success</em></small>
                    <br/>
                    <small><span class="text-muted">@state-success-bg</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-brand-danger"></div>
                <p class="caption">
                    <strong>#c61d23</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-brand-danger</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-danger</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-danger"></div>
                <p class="caption">
                    <strong>#e33e43</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-danger</em></small>
                    <br/>
                    <small><span class="text-muted">@state-danger-bg</span></small>
                    <br/>
                    <span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-brand-marketing-sharp"></div>
                <p class="caption">
                    <strong>#ffcc00</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-brand-marketing-sharp</em></small>
                    <br/>
                    <small><span class="text-muted">@brand-marketing-sharp</span></small>
                    <br/>
                    <span class="label label-danger show"><em class="glyphicon glyphicon-remove-circle pull-left"></em> Rare Use</span>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-marketing-sharp"></div>
                <p class="caption">
                    <strong>#fff7d6</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-marketing-sharp</em></small>
                    <br/>
                    <small><span class="text-muted">@state-marketing-sharp-bg</span></small>
                    <br/>
                    <!--<span class="label label-warning show"><em class="glyphicon glyphicon-warning-sign pull-left"></em> Limited Use</span>-->
                </p>
            </div>
        </div>
    </div>
    <h4>Opaque<br/>
        <small>Opaque variants maintain the base background color, with an alpha channel of <em>.8</em>, producing a
            moderate opacity.
        </small>
    </h4>
    <div class="row flex-row">
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-primary"></div>
                <p class="caption">
                    <small><em>.bg-opaque-primary</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-secondary"></div>
                <p class="caption">
                    <small><em>.bg-opaque-secondary</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-black"></div>
                <p class="caption">
                    <small><em>.bg-opaque-black</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-white"></div>
                <p class="caption">
                    <small><em>.bg-opaque-white</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-brand-info"></div>
                <p class="caption">
                    <small><em>.bg-opaque-brand-info</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-brand-warning"></div>
                <p class="caption">
                    <small><em>.bg-opaque-brand-warning</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-brand-success"></div>
                <p class="caption">
                    <small><em>.bg-opaque-brand-success</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-brand-danger"></div>
                <p class="caption">
                    <small><em>.bg-opaque-brand-danger</em></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail opaque text-right">
                <div class="color-block-preview bg-opaque-marketing-sharp"></div>
                <p class="caption">
                    <small><em>.bg-opaque-marketing-sharp</em></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="grayscale">
    <h3>Grayscale</h3>

    <div class="row flex-row">
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-white"></div>
                <p class="caption">
                    <strong>#ffffff</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-white</em></small>
                    <br/>
                    <small><span class="text-muted">@white</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-black"></div>
                <p class="caption">
                    <strong>#000000</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-black</em></small>
                    <br/>
                    <small><span class="text-muted">@black</span></small>
                </p>
            </div>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-darkest"></div>
                <p class="caption">
                    <strong>#454545</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-darkest</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-darkest</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-darker"></div>
                <p class="caption">
                    <strong>#767676</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-darker</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-darker</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-dark"></div>
                <p class="caption">
                    <strong>#939393</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-dark</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-dark</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-mid-gray"></div>
                <p class="caption">
                    <strong>#a8a8a8</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-mid-gray</em></small>
                    <br/>
                    <small><span class="text-muted">@mid-gray</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray"></div>
                <p class="caption">
                    <strong>#cacaca</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray</em></small>
                    <br/>
                    <small><span class="text-muted">@gray</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-light"></div>
                <p class="caption">
                    <strong>#e1e1e1</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-light</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-light</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-lighter"></div>
                <p class="caption">
                    <strong>#f3f3f3</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-lighter</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-lighter</span></small>
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="thumbnail text-right">
                <div class="color-block-preview bg-gray-lightest"></div>
                <p class="caption">
                    <strong>#f9f9f9</strong></p>

                <p class="caption hidden-xs">
                    <small><em>.bg-gray-lightest</em></small>
                    <br/>
                    <small><span class="text-muted">@gray-lightest</span></small>
                </p>
            </div>
        </div>
    </div>
</div>
{{yield}}
