<header class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse" aria-controls="navabar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "index" class="navbar-brand topnav"}}DPL{{/link-to}}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse in" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{#link-to "css"}}CSS{{/link-to}}
                </li>
                <li>
                    {{#link-to "dpl-components"}}Components{{/link-to}}
                </li>
                <li>
                    {{#link-to "ui-components"}}UI Modules{{/link-to}}
                </li>
                <li>
                    {{#link-to "layouts"}}Layouts <em>&amp;</em> Templates{{/link-to}}
                </li>
                <li>
                    {{#link-to "javascript"}}JavaScript{{/link-to}}
                </li>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    {{yield}}
</header>
