<div id="type">
    <!-- Headings -->
    <h2 id="type-headings">Headings</h2>
    <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
    <h3>Color Variants</h3>
    <p>Heading text and body copy can be easily manipulated by text color variants, as identified in the brand colors section.  Click through the color variant toggles below to see the application of color to corresponding type.</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Text Color Variants
            </h4>
            <p class="text-muted">Click the buttons to apply color variant styles to the <em>Typography</em> section.</p>
        </div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="">Default</a>
                <a href="#" class="btn btn-primary" data-toggle="color" data-textcolor="text-primary">Primary</a>
                <a href="#" class="btn btn-secondary" data-toggle="color" data-textcolor="text-secondary">Secondary</a>
                <a href="#" class="btn btn-success" data-toggle="color" data-textcolor="text-success">Success</a>
            </div>
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="">Default</a>
                <a href="#" class="btn btn-info" data-toggle="color" data-textcolor="text-info">Info</a>
                <a href="#" class="btn btn-warning" data-toggle="color" data-textcolor="text-warning">Warning</a>
                <a href="#" class="btn btn-danger" data-toggle="color" data-textcolor="text-danger">Danger</a>
            </div>
            <hr />
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-action">Action</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-muted">Muted</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray-darker">Gray-Darker</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray-dark">Gray-Dark</a>
            </div>
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray-dark">Mid Gray</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray">Gray</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray-light">Gray-Light</a>
                <a href="#" class="btn btn-default" data-toggle="color" data-textcolor="text-gray-lighter">Gray-Lighter</a>
            </div>
        </div>
    </div>
    <div class="bs-example bs-example-type" id="simple-headings">
        <table class="table">
            <tbody>
            <tr>
                <td><h1 class="textColorToggle">h1. Bootstrap heading</h1></td>
                <td class="type-info">Semibold 36px</td>
            </tr>
            <tr>
                <td><h2 class="textColorToggle">h2. Bootstrap heading</h2></td>
                <td class="type-info">Semibold 30px</td>
            </tr>
            <tr>
                <td><h3 class="textColorToggle">h3. Bootstrap heading</h3></td>
                <td class="type-info">Semibold 24px</td>
            </tr>
            <tr>
                <td><h4 class="textColorToggle">h4. Bootstrap heading</h4></td>
                <td class="type-info">Semibold 18px</td>
            </tr>
            <tr>
                <td><h5 class="textColorToggle">h5. Bootstrap heading</h5></td>
                <td class="type-info">Semibold 14px</td>
            </tr>
            <tr>
                <td><h6 class="textColorToggle">h6. Bootstrap heading</h6></td>
                <td class="type-info">Semibold 12px</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="highlight">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading<span class="nt">&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading<span class="nt">&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading<span class="nt">&lt;/h6&gt;</span></code></pre></div>

    <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
    <div class="bs-example bs-example-type" id="small-headings">
        <table class="table">
            <tbody>
            <tr>
                <td><h1 class="textColorToggle">h1. Bootstrap heading <small>Secondary text</small></h1></td>
            </tr>
            <tr>
                <td><h2 class="textColorToggle">h2. Bootstrap heading <small>Secondary text</small></h2></td>
            </tr>
            <tr>
                <td><h3 class="textColorToggle">h3. Bootstrap heading <small>Secondary text</small></h3></td>
            </tr>
            <tr>
                <td><h4 class="textColorToggle">h4. Bootstrap heading <small>Secondary text</small></h4></td>
            </tr>
            <tr>
                <td><h5 class="textColorToggle">h5. Bootstrap heading <small>Secondary text</small></h5></td>
            </tr>
            <tr>
                <td><h6 class="textColorToggle">h6. Bootstrap heading <small>Secondary text</small></h6></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="highlight">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h6&gt;</span></code></pre></div>


    <!-- Body copy -->
    <h2 id="type-body-copy">Body copy</h2>
    <p>Bootstrap's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.55</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10.5px by default).</p>
    <div class="bs-example" data-example-id="body-copy">
        <p class="textColorToggle">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p class="textColorToggle">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="textColorToggle">Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
    <div class="highlight">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;p&gt;</span>...<span class="nt">&lt;/p&gt;</span></code></pre></div>

    <!-- Body copy .lead -->
    <h3 id="lead-body-copy">Lead body copy</h3>
    <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
    <div class="bs-example" data-example-id="lead-copy">
        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
    </div>
    <div class="highlight">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/p&gt;</span></code></pre></div>

</div>
{{yield}}
